{% extends "layout.njk" %}

{% block head %}
<title>{{item.title}}</title>
{% endblock %}

{% block content %}

<section class="page">

    <iframe src="https://www.rocketseat.com.br/{{ course.id }}" frameborder="0"></iframe>

</section>


{% endblock %}