{% extends "layout.njk" %}

{% block content%}

<section id="main">

    <h1 class="title">OOPS!</h1>

    <img class="erroImg" src="/assets/astronauta.svg" alt="astronauta">

    <h2 class="erro" >erro 404</h2>

    <p>Desculpe mas está pagina não foi encontrada, <br> verifique o endereço digitado, e tente novamente.</p>

    <button><a href="/">Ir para Home</a></button>

</section>


{% endblock%}